body{
    background-color: yellow;
}

div{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.predefined-colors{
    background-color: darkcyan;
}

.hexadecimal{
    background-color: #000;
}

.rgb{
    background-color: rgb(158, 71,22);
}

.rgba{
    background-color: rgba(24, 151,63,0.5);
}




